# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm-store
/package-lock.json
/yarn.lock

# Local Environment Variables
.env
.env*.local

# Next.js
/.next/
/out/

# Vercel
.vercel

# Prisma
/prisma/generated

# Misc
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*